<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <% data.forEach((post) => { %>
  <link rel="stylesheet" href="/stylesheets/teams/<%= post.team_name.split(' ').slice(-1).join('') %>.css">
  <% }) %>   
  <style>
    
  </style> 
  </head>
  <body>
<div class="wrapper">
    <% data.forEach((post) => { %>
    <aside class="profile-card <%= post.team_name.split(' ').slice(-1).join('') %> ">

        <header class="<%= post.team_name.split(' ').slice(-1).join('') %>">
          <img src='https://nba-players.herokuapp.com/players/<%= post.name.split(' ').slice(-1).join('') %>/<%= post.name.split(' ').slice(0, -1).join('') %>' width="50" />  
          <h1><%= post.name %></h1>
      
            <h2>- <%= post.team_name %>  -</h2>
          </header>
          
          <div class="profile-bio">
                
            <img src="/images/teams/<%= post.team_name.split(' ').slice(-1).join('') %>.png " width="50px"/>
              
              <div id="profile-stats">
                <p>Games Played: <%= post.games_played %> </p>
                <p>Field Goals Made Per Game: <%= post.field_goals_made_per_game %> </p>
                <p>Rebound: <%= post.rebounds_per_game %> </p>
                <p>Assists: <%= post.assists_per_game %> </p>
              </div>
          </div>
    
    </aside>
    <% }) %>

</div>

  </body>
</html>