<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <% data.forEach((post) => { %>
          <img src='https://nba-players.herokuapp.com/players/<%= post.name.split(' ').slice(-1).join('') %>/<%= post.name.split(' ').slice(0, -1).join('') %>' width="200px" />
          <h4 class="list-group-item-heading <%= post.team_name.split(' ').slice(-1).join('') %> "><%= post.name %></h4>
          <p class="list-group-item-text <%= post.team_name.split(' ').slice(-1).join('') %> "><%= post.team_name %></p>
          <img src="/images/teams/<%= post.team_name.split(' ').slice(-1).join('') %>.png" width="100px"/>
      </br>
      <% }) %>
    </div>
   
  </body>
</html>